<% provide(:title, @lamer.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @lamer %>
        <%= @lamer.name %>
      </h1>
    </section>
  </aside>
</div>
